<section id="hero" class="hero section">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
            <h2><span>I'm </span><span class="underlight">Ram Krishna Suwal</span> a Professional<span> Artist from Bhaktapur City</span></h2>
            <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero. Qui voluptas amet.</p>
            <a href="contact.html" class="btn-get-started">Available for Hire<br></a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->